.mainContainer {
  height: 100vh;
  background-color: #152850;
  color: #ffffff;
}

.nav-Cont {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.website-logo {
  height: 45px;
  width: 160px;
}

.bottom-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.website-logo2 {
}

button {
}
